 <div class="row list-group-item">

    <div class="col">Graphics:</div>
    <div class="col">{{review.graphics}}</div>
   </div>
 <div class="row list-group-item">

    <div class="col">concrete:</div>
    <div class="col">{{review.concrete}}</div>
   </div>
   <div class="row list-group-item">

    <div class="col">Probing:</div>
    <div class="col">{{review.probing}}</div>
   </div>
   <div class="row list-group-item">

    <div class="col">elaboration:</div>
    <div class="col">{{review.elaboration}}</div>
   </div>
   <div class="row list-group-item">

    <div class="col">Solved_problems:</div>
    <div class="col">{{review.solved_problems}}</div>
   </div>
   <div class="row list-group-item">

    <div class="col">Practice:</div>
    <div class="col">{{review.practice}}</div>
   </div>
   <div class="row list-group-item">

    <div class="col">Originality:</div>
    <div class="col">{{review.originality}}</div>
   </div>
   <div class="row list-group-item">

    <div class="col">Errors:</div>
    <div class="col">{{review.errors}}</div>
   </div>
   <div class="row list-group-item">

    <div class="col">Deepness:</div>
    <div class="col">{{review.deepness}}</div>
   </div>
   <div class="row list-group-item">

    <div class="col">Comprehensible:</div>
    <div class="col">{{review.comprehensible}}</div>
   </div>
   <div class="row list-group-item">

    <div class="col">Cognitive load:</div>
    <div class="col">{{review.cognitive_load}}</div>
   </div>
   <div class="row list-group-item">

    <div class="col">Big ideas:</div>
    <div class="col">{{review.big_ideas}}</div>
   </div>
   <div class="row list-group-item">

    <div class="col">Evidence:</div>
    <div class="col">{{review.evidence}}</div>
   </div>
   <div class="row list-group-item">

    <div class="col">Overall Comments:</div>
    <div class="col">{{review.overall_comments}}</div>
   </div>
   <div class="row list-group-item">

    <div class="col">Dat link:</div>
    <div class="col">{{review.dat_link}}</div>
   </div>
   <div class="row list-group-item">

    <div class="col">Backup Link:</div>
    <div class="col">{{review.backup_link}}</div>
   </div>
   <div class="row list-group-item">

    <div class="col">Create Time:</div>
    <div class="col">{{review.create_time}}</div>
   </div>
   <div class="row list-group-item">

    <div class="col">Update Time:</div>
    <div class="col">{{review.update_time}}</div>
   </div>
   